body {
    background-color: #000;
    color: #fff;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /* Disable touch panning/zooming */
    -ms-touch-action: none;
    touch-action: none;
    
    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
}

#screen canvas {
    margin: auto;

    /* Hide the gap for font descenders. */
    display: block;
}

#gamemix {
    position: relative;
    margin: -70px auto 0 auto;
    width: 400px;
}

#gamemix img {
    margin: 0 10px 0 0;
    float: left;
    border: none;
}
